HTML
<!DOCTYPE html>
<html>
<head>
  <title>Abiel Eyasu - Full Stack Developer</title>
  <link rel="stylesheet" href="styles.css"> </head>
<body>
  <header>
    <img src="profile_pic.jpg" alt="Abiel Eyasu">
    <h1>Abiel Eyasu</h1>
    <p>Full Stack Developer</p>
  </header>

  <section id="about">
    <h2>About Me</h2>
    <p>Brief description of your skills, experience, and career goals.</p>
  </section>

  <section id="skills">
    <h2>Skills</h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      </ul>
  </section>

  <section id="contact">
    <h2>Contact</h2>   

    <ul>
      <li>Email: abiel.eyasu893@gmail.com</li>
      <li>Phone: +251 123 456 7890</li>
      <li>LinkedIn: abc</li>
      <li>Twitter:"https://x.com/AbelAbraha24?t=gK4Xgq8VJexvZ4IVCxhZOg&s=35"</li>
      <li>Facebook: [Your Facebook profile link]</li>
      <li>WhatsApp: [Your WhatsApp number]</li>
    </ul>
  </section>

  <footer>
    <p>&copy; 2023 Abiel Eyasu</p>
  </footer>
</body>
</html>